.about{
    background-color: #FFF;
}
.about_content{
    padding: 80px 175px 100px 175px;
    @include flex_display;
    justify-content: center;
    column-gap: 120px;
    @media (max-width:1010px) {
flex-direction: column-reverse;
padding: 67px 145px 100px 140px;
row-gap: 65px;
          }
}
.about_img{
    img{
        display: block;
    }
    @media (max-width:1010px) {
display: flex;
justify-content: center;
    }
}
.about_text{
@include flex_display(column);
row-gap: 25px;
padding: 14px 0;
}
.about_heading{
    @include header_3;
    width: 80%

}
.about_subheading{
@include paragraph_1;

}
