
.our_friends{
    background-color: #F6F6F6;
  }
  .our_friends_content{
    @extend %flex_column;
    align-items: center;
    justify-content: space-around;
    row-gap: 60px;
    padding-top: 80px;
    padding-bottom: 99px;
  }
  .friends_h_txt{
    @extend %headers;

    text-align: center;
padding: 0 50px 0 50px;
    margin-left: 2px;;
    white-space: pre-line;
 
  }
  .pet_slider{
    @extend %flex_between;
    align-items: center;
    width: 100%;
    column-gap: 55px;
  }

  .prev_arrow{
@include slider_buttons(0deg);
  }
  .next_arrow{
    @include slider_buttons(180deg);
  }
  .prev_arrow:hover{
    background-color: $pink_color
  }
  .next_arrow:hover{
    background-color: $pink_color
  }
  .slider_cards{
    @extend %flex_between;
    column-gap: 90px;
 overflow: hidden;
  }
 
  .pets_slider_card{
    @extend %flex_column;
    align-items: center;
    width: fit-content;
    background-color:#fff;
    border-radius: 15px;
    justify-content: space-between;
    row-gap:30px;
    color:#545454;
  cursor: url('../assets/icons/pointer_cursor.svg'), pointer;
  }
  .pets_slider_card:hover{
    .slider_learrnMoreBtn{
background-color: #F1CDB3;
    }
  }
  .slider_petName{
    font-family: $font-Georgia;

font-size: 20px;
letter-spacing: 0.06em;

  }
  .slider_learrnMoreBtn{
   @include std_btn;
  
   border: 2px solid #F1CDB3;
   padding: 13px 43px;
   background-color: #fff;
   //margin-left: 2px;
   margin-bottom: 30px;
   color: #545454;
  }
  .get_rest{
    @include std_btn;
margin-left: 1px;
@include pink_buttons;
    border: none;
   

   color:#292929;

  }
  .get_rest:hover{
    @include pink_buttons_active;
  }

  @media (max-width:1000px) {
    .friends_h_txt{
  padding: 0 20px 0 20px;



      white-space: pre-line;

    }
    .pet_slider {
      column-gap: 12px;
    }
    .slider_cards {
      column-gap: 40px;

    }
  }