.footer_content{
    @include flex_display;
    justify-content: space-between;
    margin-top: 40px;

    @media (max-width:1010px) {
flex-direction: column;
margin-top: 15px;
padding: 0 35px;
row-gap: 60px;
    }
    @media (max-width:700px) {
        padding: 0 5px;
        row-gap: 39px;
    }
}
.upperCont{
    @include flex_display;
    width: 64%;
    column-gap: 115px;

    @media (max-width:1010px) {
        width: 100%;
        column-gap: 45px;
    }
    @media (max-width:700px) {
flex-direction: column;
padding: 0 20px;
row-gap: 22px;
align-items: center;

    }
}
.container{
    @include flex_display(column);
    row-gap: 40px;
 
}
.container2{
    @include flex_display(column);
    row-gap: 34px;
    @media (max-width:700px) {
width: 120%;
align-items: center;
row-gap: 40px;
.heading{
    width: 90%;
}
    }
}
.heading{
    @include header_3;
    margin-top: 16px;
    width: 90%;
    color: #FFF;

    @media (max-width:1010px) {
        width: 100%;
    }

    @media (max-width:700px) {
@include header_mobile;
width: 100%;
    }
}
.subh{
    @include flex_display;
    column-gap: 20px;
    align-items: center;
    color: $dark_pink
}
.subh2{
    @include flex_display;
    column-gap: 20px;
    color: $dark_pink
}
.sub_txt{
    @include header_4;
    color: $dark_pink;
}
.footer_img{
    img{
        display: block;
    }

    @media (max-width:1010px) {
display: flex;
justify-content: center;
    }
    @media (max-width:700px) {
width: 100%;
img{
    width: 90%;
}
    }
}