.footer_content{
    @include flex_display;
    justify-content: space-between;
    margin-top: 40px;
}
.upperCont{
    @include flex_display;
    width: 64%;
    column-gap: 115px;
}
.container{
    @include flex_display(column);
    row-gap: 40px;
}
.container2{
    @include flex_display(column);
    row-gap: 34px;
}
.heading{
    @include header_3;
    margin-top: 16px;
    width: 90%;
}
.subh{
    @include flex_display;
    column-gap: 20px;
    align-items: center
}
.subh2{
    @include flex_display;
    column-gap: 20px;
}
.sub_txt{
    @include header_4
}