.wrapper, .header {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.pets_slider_card, .our_friends_content, .about_content .about_txt, .txt_content, .logo, .start_content {
  display: flex;
  flex-direction: column;
}

.slider_cards, .next_arrow, .prev_arrow, .pet_slider, .about_content, .start_text_img, .navigation_bar, .header {
  display: flex;
  justify-content: space-between;
}

.friends_h_txt, .about_h_txt {
  font-family: "Georgia", normal;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2.1px;
  line-height: 45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-BoldItalic.woff2") format("woff2"), url("ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-Bold.woff2") format("woff2"), url("ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow.woff2") format("woff2"), url("ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("ArialNarrow-Italic.woff2") format("woff2"), url("ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-Black.woff2") format("woff2"), url("Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("ArialMT.woff2") format("woff2"), url("ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-BoldItalicMT.woff2") format("woff2"), url("Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-BoldMT.woff2") format("woff2"), url("Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("Arial-ItalicMT.woff2") format("woff2"), url("Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Italic.woff2") format("woff2"), url("Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia.woff2") format("woff2"), url("Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-Bold.woff2") format("woff2"), url("Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("Georgia-BoldItalic.woff2") format("woff2"), url("Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.not_only {
  background: url(../assets/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.head_wrapper {
  width: 100%;
  position: absolute;
}

.header {
  width: 100%;
  margin: 60px auto;
}

.logo .logo_up {
  color: #F1CDB3;
  font-family: "Georgia", normal;
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 8px 0;
  letter-spacing: 2px;
  line-height: 35.2px;
}
.logo .logo_down {
  color: white;
  font-family: Arial, serif;
  font-weight: 400;
  font-size: 13px;
  padding: 0;
  padding-left: 4px;
  letter-spacing: 1.3px;
}

.navigation_bar {
  color: #CDCDCD;
  align-items: center;
  font-size: 15px;
  font-family: "Arial", normal;
  column-gap: 36px;
}

.start_text_img {
  margin-top: 180px;
}

.txt_content {
  margin-top: 164px;
  color: #CDCDCD;
}
.txt_content h2 {
  font-family: "Georgia", normal;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 44px;
  line-height: 130%;
  width: 70%;
}
.txt_content div {
  margin-top: 42px;
  font-family: "Arial", normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  width: 93%;
}
.txt_content .make_friend_btn {
  font-family: "Georgia", normal;
  font-weight: 400;
  line-height: 130%;
  font-size: 17px;
  padding: 15px 45px;
  width: fit-content;
  border-radius: 100px;
  letter-spacing: 0.06em;
  margin-top: 41px;
  font-size: 17px;
  background-color: #F1CDB3;
  border: none;
}

.start_img img {
  display: block;
}

.about_content {
  column-gap: 120px;
  margin-top: 80px;
  margin-bottom: 97px;
}
.about_content .about_img {
  margin-left: 175px;
}
.about_content .about_txt {
  margin-right: 40px;
  margin-top: 15px;
}

.about_h_txt {
  width: 60%;
  margin-bottom: 25px;
}

.about_p1_txt, .about_p2_txt {
  width: 75%;
  line-height: 24px;
  font-size: 15px;
  font-family: "Arial", normal;
}

.about_p1_txt {
  margin-bottom: 25px;
}

.our_friends {
  background-color: #F6F6F6;
}

.our_friends_content {
  align-items: center;
  justify-content: space-around;
  row-gap: 60px;
  padding-top: 80px;
  padding-bottom: 99px;
}

.friends_h_txt {
  width: 35%;
  text-align: center;
  margin-left: 2px;
  white-space: pre-line;
}

.pet_slider {
  align-items: center;
  width: 100%;
}

.prev_arrow {
  transform: rotate(0deg);
  align-items: center;
  padding: 21px 17px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 1px;
}

.next_arrow {
  transform: rotate(180deg);
  align-items: center;
  padding: 21px 17px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 1px;
}

.slider_cards {
  column-gap: 90px;
}

.pets_slider_card {
  align-items: center;
  width: fit-content;
  background-color: #fff;
  border-radius: 15px;
  justify-content: space-between;
  row-gap: 30px;
  color: #545454;
}

.slider_petName {
  font-family: "Georgia", normal;
  font-size: 20px;
  letter-spacing: 0.06em;
  margin-left: 2px;
}

.slider_learrnMoreBtn {
  font-family: "Georgia", normal;
  font-weight: 400;
  line-height: 130%;
  font-size: 17px;
  padding: 15px 45px;
  width: fit-content;
  border-radius: 100px;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  padding: 13px 43px;
  background-color: #fff;
  margin-left: 2px;
  margin-bottom: 31px;
  color: #545454;
}

.get_rest {
  font-family: "Georgia", normal;
  font-weight: 400;
  line-height: 130%;
  font-size: 17px;
  padding: 15px 45px;
  width: fit-content;
  border-radius: 100px;
  letter-spacing: 0.06em;
  margin-left: 2px;
  border: none;
  background-color: #F1CDB3;
  color: #292929;
}

/*# sourceMappingURL=style.css.map */
