* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*here is smooth scroll*/
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: url("../assets/icons/pointer_cursor.svg"), default;
}

a:hover {
  text-shadow: #FFF 1px 0 0.5px;
}

button {
  cursor: url("../assets/icons/pointer_cursor.svg"), default;
  transition: background 0.5s ease;
}

.pets_primary_btn button, .start_button button {
  padding: 15px 45px;
  border-radius: 100px;
  font-size: 17px;
}

.slider_card_btn {
  padding: 13px 43px;
  border-radius: 100px;
  font-size: 17px;
}

.body {
  background: url("../assets/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  cursor: url("../assets/icons/normal_cursor.svg"), default;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .wrapper {
    max-width: 768px;
    min-width: 720px;
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 700px) {
  .wrapper {
    max-width: 320px;
    min-width: 320px;
    padding: 0 10px 0 10px;
  }
}

@font-face {
  font-family: "Arial Narrow";
  src: url("./base/fonts/ArialNarrow-BoldItalic.woff2") format("woff2"), url("./base/fonts/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("./base/fonts/ArialNarrow-Bold.woff2") format("woff2"), url("./base/fonts/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("./base/fonts/ArialNarrow.woff2") format("woff2"), url("./base/fonts/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("./base/fonts/ArialNarrow-Italic.woff2") format("woff2"), url("./base/fonts/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./base/fonts/Arial-Black.woff2") format("woff2"), url("./base/fonts/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./base/fonts/ArialMT.woff2") format("woff2"), url("./base/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./base/fonts/Arial-BoldItalicMT.woff2") format("woff2"), url("./base/fonts/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./base/fonts/Arial-BoldMT.woff2") format("woff2"), url("./base/fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("./base/fonts/Arial-ItalicMT.woff2") format("woff2"), url("./base/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./base/fonts/Georgia-Italic.woff2") format("woff2"), url("./base/fonts/Georgia-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./base/fonts/Georgia.woff2") format("woff2"), url("./base/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./base/fonts/Georgia-Bold.woff2") format("woff2"), url("./base/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./base/fonts/Georgia-BoldItalic.woff2") format("woff2"), url("./base/fonts/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 700px) {
  .header_content {
    padding: 0 10px;
  }
}

.logo_link {
  cursor: url("../assets/icons/pointer_cursor.svg"), default;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  margin: 0;
  font-size: 32px;
  line-height: 35px;
  color: #F1CDB3;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
}

.logo_sub {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  color: #FFF;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-left: 3px;
}

.nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 36px;
}

.nav_item {
  padding: 16px 0 20px 0;
  text-underline-offset: 0;
  transition: text-underline-offset 0.2s ease;
  text-shadow: none;
}

.nav_item:hover {
  text-underline-offset: 8px;
}
.nav_item:hover a {
  text-shadow: none;
  text-decoration: underline #F1CDB3 3px solid;
}

.nav_item:nth-child(1) {
  text-decoration: underline #F1CDB3 3px solid;
  text-underline-offset: 8px;
  text-shadow: none;
}
.nav_item:nth-child(1) a {
  color: #FAFAFA;
  text-decoration: underline #F1CDB3 3px solid;
}

.nav_link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

@media (max-width: 750px) {
  .nav_menu {
    display: none;
  }
}

.burger_nav {
  display: none;
}
@media (max-width: 750px) {
  .burger_nav {
    display: flex;
  }
}

.burger_icon {
  cursor: url("../assets/icons/pointer_cursor.svg"), default;
}

.start_screen_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 90px;
}
@media (max-width: 1010px) {
  .start_screen_content {
    flex-direction: column;
    margin-top: 60px;
  }
}

.start_img {
  display: block;
}
@media (max-width: 1010px) {
  .start_img {
    width: 569px;
    align-self: flex-end;
  }
}
@media (max-width: 1010px) {
  .start_img {
    width: 265px;
  }
}
.start_img img {
  display: block;
}
@media (max-width: 1010px) {
  .start_img img {
    width: 100%;
  }
}

.start_text {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  margin-top: 163px;
}
@media (max-width: 1010px) {
  .start_text {
    margin-top: 0;
    padding: 0 124px;
    margin-bottom: 100px;
  }
}
@media (max-width: 700px) {
  .start_text {
    padding: 0 0px;
    align-items: center;
  }
}

.start_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #545454;
  margin: 0;
  color: #FFF;
  width: 70%;
}
@media (max-width: 700px) {
  .start_heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

.start_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  width: 92%;
  color: #CDCDCD;
}
@media (max-width: 1010px) {
  .start_subheading {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .start_subheading {
    text-align: center;
  }
}

@media (max-width: 1010px) {
  .start_button {
    align-self: center;
  }
}
.start_button button {
  background-color: #F1CDB3;
  border: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
}
.start_button button:hover {
  background-color: #FDDCC4;
}

.about {
  background-color: #FFF;
}

.about_content {
  padding: 80px 175px 100px 175px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 120px;
}
@media (max-width: 1010px) {
  .about_content {
    flex-direction: column-reverse;
    padding: 67px 145px 100px 140px;
    row-gap: 65px;
  }
}
@media (max-width: 700px) {
  .about_content {
    padding: 28px 15px;
    align-items: center;
    row-gap: 25px;
  }
}

.about_img img {
  display: block;
}
@media (max-width: 700px) {
  .about_img img {
    width: 96%;
    height: 355px;
  }
}
@media (max-width: 1010px) {
  .about_img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .about_img {
    width: 100%;
    padding-bottom: 12px;
  }
}

.about_text {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 14px 0;
}
@media (max-width: 700px) {
  .about_text {
    align-items: center;
    row-gap: 22px;
  }
}

.about_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  width: 80%;
}
@media (max-width: 700px) {
  .about_heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-bottom: 3px;
  }
}

.about_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}
@media (max-width: 700px) {
  .about_subheading {
    display: flex;
    align-items: center;
    text-align: justify;
  }
}

.pets {
  background-color: #F6F6F6;
  padding: 80px 0 100px 0;
}
@media (max-width: 700px) {
  .pets {
    padding: 0;
  }
}

.pets_content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  align-items: center;
}
@media (max-width: 700px) {
  .pets_content {
    padding: 43px 5px;
    row-gap: 42px;
    display: flex;
    align-self: center;
  }
}

.pets_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  white-space: break-spaces;
  text-align: center;
  color: #545454;
}
@media (max-width: 700px) {
  .pets_heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 100%;
  }
}

.pets_slider_container {
  display: flex;
  flex-direction: row;
  column-gap: 53px;
  align-items: center;
  width: 100%;
}
@media (max-width: 1110px) {
  .pets_slider_container {
    column-gap: 12px;
  }
}
@media (max-width: 760px) {
  .pets_slider_container {
    column-gap: 2px;
  }
}
@media (max-width: 700px) {
  .pets_slider_container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: 26px;
  }
}

.next_btn {
  transform: rotate(180deg);
}

.slider_btn {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 21px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.slider_btn:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.slider {
  display: flex;
  column-gap: 90px;
  overflow: hidden;
}
@media (max-width: 1210px) {
  .slider {
    column-gap: 40px;
  }
}
@media (max-width: 760px) {
  .slider {
    column-gap: 20px;
  }
}
@media (max-width: 700px) {
  .slider {
    order: -1;
    padding-left: 10px;
  }
}

@media (max-width: 760px) {
  .slider_main .slider_card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 700px) {
  .desktop_slider {
    display: none;
  }
}

.slider_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border: none;
}

.slider_card:hover {
  cursor: url("../assets/icons/pointer_cursor.svg"), default;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFF;
}
.slider_card:hover .slider_card_btn {
  background-color: #FDDCC4;
}

.pet_name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  margin: 0;
}

.slider_card_btn {
  border: 2px solid #FDDCC4;
  display: flex;
  flex: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  background-color: inherit;
}

.pets_primary_btn {
  border-radius: 100px;
}
.pets_primary_btn button {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  background-color: #F1CDB3;
  border: none;
}

.pets_primary_btn:hover button {
  background-color: #FDDCC4;
}

.mobile_slider {
  display: none;
}
@media (max-width: 700px) {
  .mobile_slider {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
  }
}

.help {
  background-color: #FFF;
}

.help_content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 80px 85px 100px 85px;
}
@media (max-width: 1010px) {
  .help_content {
    padding: 80px 39px 100px 39px;
  }
}
@media (max-width: 700px) {
  .help_content {
    padding: 40px 5px 40px 5px;
    align-items: center;
    row-gap: 42px;
  }
}

.help_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  text-align: center;
  white-space: break-spaces;
}
@media (max-width: 700px) {
  .help_heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: fit-content;
  }
}

.help_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
  justify-content: center;
}
@media (max-width: 1010px) {
  .help_icons {
    justify-content: space-between;
    column-gap: 0;
  }
}
@media (max-width: 700px) {
  .help_icons {
    row-gap: 27px;
  }
}

.icon_card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 30px;
  align-items: center;
}
@media (max-width: 1010px) {
  .icon_card {
    width: 170px;
  }
}
@media (max-width: 700px) {
  .icon_card {
    width: 130px;
    row-gap: 17px;
  }
  .icon_card img {
    width: 50px;
  }
}
.icon_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  margin: 0;
  color: #545454;
}
@media (max-width: 700px) {
  .icon_title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #4C4C4C;
    letter-spacing: 0.06em;
    margin: 0;
    font-size: 15px;
    width: fit-content;
  }
}

.donation {
  background-color: #F6F6F6;
}

.donation_content {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  padding: 80px 143px 100px 143px;
}
@media (max-width: 1010px) {
  .donation_content {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}
@media (max-width: 700px) {
  .donation_content {
    padding: 40px 5px 43px 5px;
    row-gap: 40px;
  }
}

.donation_img {
  display: flex;
  align-items: center;
}
.donation_img img {
  display: block;
}
@media (max-width: 1010px) {
  .donation_img {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .donation_img {
    width: 100%;
  }
  .donation_img img {
    width: 90%;
  }
}

.donation_text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 1010px) {
  .donation_text {
    padding: 1px 21px;
    row-gap: 19px;
  }
}
@media (max-width: 700px) {
  .donation_text {
    align-items: center;
    padding: 1px 5px;
    row-gap: 21px;
  }
}

.donation_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  white-space: break-spaces;
}
@media (max-width: 700px) {
  .donation_heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: fit-content;
  }
}

.donation_bankName {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
}
@media (max-width: 700px) {
  .donation_bankName {
    white-space: nowrap;
    letter-spacing: normal;
  }
}

.card_data_container {
  background-color: #F1CDB3;
  display: flex;
  flex-direction: row;
  padding: 9px 14px 7px 15px;
  column-gap: 15px;
  border-radius: 9px;
  width: 92%;
}
@media (max-width: 700px) {
  .card_data_container {
    width: 100%;
    padding: 9px 6px 5px 14px;
    margin-top: 4px;
  }
}

.card_img {
  display: block;
}

.card_text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  margin: 0;
  background-color: inherit;
  border: none;
  width: 100%;
  outline: none;
}
@media (max-width: 700px) {
  .card_text {
    font-size: 15px;
  }
}

.donation_subCard {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  font-style: italic;
}
@media (max-width: 700px) {
  .donation_subCard {
    text-align: justify;
  }
}

.footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 1010px) {
  .footer_content {
    flex-direction: column;
    margin-top: 15px;
    padding: 0 35px;
    row-gap: 60px;
  }
}
@media (max-width: 700px) {
  .footer_content {
    padding: 0 5px;
    row-gap: 39px;
  }
}

.upperCont {
  display: flex;
  flex-direction: row;
  width: 64%;
  column-gap: 115px;
}
@media (max-width: 1010px) {
  .upperCont {
    width: 100%;
    column-gap: 45px;
  }
}
@media (max-width: 700px) {
  .upperCont {
    flex-direction: column;
    padding: 0 20px;
    row-gap: 22px;
    align-items: center;
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.container2 {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
}
@media (max-width: 700px) {
  .container2 {
    width: 120%;
    align-items: center;
    row-gap: 40px;
  }
  .container2 .heading {
    width: 90%;
  }
}

.heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  margin-top: 16px;
  width: 90%;
  color: #FFF;
}
@media (max-width: 1010px) {
  .heading {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .heading {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 100%;
  }
}

.subh {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  color: #F1CDB3;
}

.subh2 {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #F1CDB3;
}

.sub_txt {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  margin: 0;
  color: #F1CDB3;
}

.footer_img img {
  display: block;
}
@media (max-width: 1010px) {
  .footer_img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .footer_img {
    width: 100%;
  }
  .footer_img img {
    width: 90%;
  }
}

.pets_body {
  background-color: #FFF;
  cursor: url("../assets/icons/normal_cursor.svg"), default;
}

.pets_page {
  padding: 80px 0 100px 0;
}
@media (max-width: 1010px) {
  .pets_page {
    padding: 80px 0 76px 0;
  }
}
@media (max-width: 700px) {
  .pets_page {
    padding: 0;
  }
}

@media (max-width: 1010px) {
  .pets_page_petsContent {
    row-gap: 30px;
  }
}
@media (max-width: 700px) {
  .pets_page_petsContent {
    padding: 42px 7px 42px 7px;
  }
}

.page_footer_content {
  margin-top: 0;
}

.pets_page_header {
  margin-top: 0;
  margin-bottom: 30px;
}

.nav_item1 {
  padding: 16px 0 20px 0;
  text-underline-offset: 0;
  transition: text-underline-offset 0.2s ease;
}
.nav_item1 a {
  text-shadow: none;
}

.nav_item1:hover {
  text-underline-offset: 8px;
}
.nav_item1:hover a {
  text-shadow: none;
  text-decoration: underline #F1CDB3 3px solid;
}

.nav_item1:nth-child(2) {
  text-underline-offset: 8px;
}
.nav_item1:nth-child(2) a {
  color: #292929;
  text-decoration: underline #F1CDB3 3px solid;
}

.pets_logoUpper {
  color: #545454;
}

.pets_logo_down {
  color: #292929;
}

.nav_link1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #545454;
}

@media (max-width: 1010px) {
  .pets_page_sliderCont {
    padding: 0 64px 10px 64px;
  }
}
@media (max-width: 700px) {
  .pets_page_sliderCont {
    padding: 10px 10px 13px 10px;
  }
}

.pets_slider {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 0;
  padding: 0;
}

@media (max-width: 1010px) {
  .slider_card:nth-child(7) {
    display: none;
  }
  .slider_card:nth-child(8) {
    display: none;
  }
}
@media (max-width: 760px) {
  .slider_card:nth-child(4) {
    display: none;
  }
  .slider_card:nth-child(5) {
    display: none;
  }
  .slider_card:nth-child(6) {
    display: none;
  }
}
.slider_card {
  width: 270px;
}
.slider_card img {
  width: inherit;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.pagination {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  margin: 0;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
.pagination button {
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .pagination {
    column-gap: 10px;
  }
}

.prev_prev, .prev {
  border: 2px solid #CDCDCD;
}

.curr {
  border: none;
  background-color: #F1CDB3;
}

.next_next, .next {
  border: 2px solid #F1CDB3;
}

.page_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_btn:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.pets_footer {
  margin-top: 0;
  padding-top: 40px;
  background: url("../assets/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
@media (max-width: 1010px) {
  .pets_footer {
    padding-top: 15px;
  }
}

.inactive_link:hover {
  cursor: url("../assets/icons/normal_cursor.svg"), default;
}

.popUp {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.5);
}

.modalWindow {
  width: 952px;
  height: 552px;
  opacity: 1;
  background-color: none;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .modalWindow {
    width: 682px;
    height: 402px;
  }
}
@media (max-width: 700px) {
  .modalWindow {
    width: 270px;
    height: 393px;
  }
}

.close {
  width: fit-content;
  background-color: inherit;
  display: flex;
  justify-content: flex-end;
  border: none;
  opacity: 1;
  align-self: flex-end;
}
.close .img_cont {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close .img_cont:hover {
  border: none;
  background-color: #FDDCC4;
}

.modal {
  opacity: 1;
  width: 900px;
  height: 500px;
  background: #FAFAFA;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  column-gap: 30px;
}
@media (max-width: 1100px) {
  .modal {
    width: 630px;
    height: 350px;
    column-gap: 11px;
  }
}
@media (max-width: 700px) {
  .modal {
    width: 240px;
    height: fit-content;
    column-gap: 0;
  }
}

.inactive_popup {
  display: none;
}

.noscroll {
  overflow: hidden;
}

.list_h {
  font-weight: 700;
}

.modal_txt {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 50px 20px 88px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000;
}
@media (max-width: 1110px) {
  .modal_txt {
    padding: 10px 9px 37px 0;
  }
}
@media (max-width: 700px) {
  .modal_txt {
    padding: 10px;
  }
}

.modal_header2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0;
  color: #000;
  padding-bottom: 10px;
}
@media (max-width: 700px) {
  .modal_header2 {
    margin: 0 auto;
  }
}

.modal_header3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  margin: 0;
  color: #000;
}
@media (max-width: 700px) {
  .modal_header3 {
    margin: 0 auto;
  }
}

.modal_info {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  padding: 40px 0;
  color: #000;
}
@media (max-width: 1150px) {
  .modal_info {
    padding: 20px 0;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.06em;
  }
}
@media (max-width: 700px) {
  .modal_info {
    text-align: justify;
    padding: 20px 0 24px 0;
  }
}

.modal_list {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #4C4C4C;
  letter-spacing: 0.06em;
  color: #000;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
@media (max-width: 1150px) {
  .modal_list {
    row-gap: 6px;
  }
}
@media (max-width: 700px) {
  .modal_list {
    row-gap: 5px;
  }
}
.modal_list li {
  color: #F1CDB3;
}
.modal_list li span {
  color: #000;
}

.modal_petImg {
  border-radius: 9px 0px 0px 9px;
  width: 500px;
}
@media (max-width: 1100px) {
  .modal_petImg {
    width: 350px;
  }
}
@media (max-width: 700px) {
  .modal_petImg {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
