$font-Georgia:    'Georgia', normal;
$font-Arial:    'Arial', normal;
$start_screen_bg_color: #5B483A;
$pink_color: #F1CDB3;
$pink_active:#FDDCC4;

a{
    color: inherit;
    text-decoration: none;
}
